@model  InsuranceAgencyQuotingSystem.Models.CreateQuoteModel


@{
    ViewBag.Title = "CreatePolicy";
}

<h2>Initial Quote Information</h2>




@section Sidebar {
    <p> This sidebar has "Create Quote Page" specific content</p>
    <center>
        <table>
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Page
                </th>
            </tr>

            <tr>
                <td>
                    @if (Model.Quote.ApplicantPageValid)
                    {
                        <span class="glyphicon glyphicon-check" style="color:green"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-exclamation-sign" style="color:red"></span>
                    }
                </td>
                <td>
                    <a href="#">Applicant Page</a>
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model.Quote.ApplicantQuoteInfoPageValid)
                    {
                        <span class="glyphicon glyphicon-check" style="color:green"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-exclamation-sign" style="color:red"></span>
                    }
                </td>
                <td>
                    <a href="#">Policy Information Page</a>
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model.Quote.VehiclePageValid)
                    {
                        <span class="glyphicon glyphicon-check" style="color:green"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-exclamation-sign" style="color:red"></span>
                    }
                </td>
                <td>
                    <a href="#">Vehicle Page</a>
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model.Quote.DriverPageValid)
                    {
                        <span class="glyphicon glyphicon-check" style="color:green"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-exclamation-sign" style="color:red"></span>
                    }
                </td>
                <td>
                    <a href="#">Driver Page</a>
                </td>
            </tr>


            <tr>
                <td>
                    @if (Model.Quote.CoveragePageValid)
                    {
                        <span class="glyphicon glyphicon-check" style="color:green"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-exclamation-sign" style="color:red"></span>
                    }
                </td>
                <td>
                    <a href="#">Coverage Page</a>
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model.Quote.RatePageValid)
                    {
                        <span class="glyphicon glyphicon-check" style="color:green"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-exclamation-sign" style="color:red"></span>
                    }
                </td>
                <td>
                    <a href="#">Rate Page</a>
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model.Quote.BuyPolicyPageValid)
                    {
                        <span class="glyphicon glyphicon-check" style="color:green"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-exclamation-sign" style="color:red"></span>
                    }
                </td>
                <td>
                    <a href="#">Buy Policy Page</a>
                </td>
            </tr>
        </table>
    </center>

}

   
<center>
    <div class="has-error form-group">
        <!-- 'has-error' class has been added on parent form-group div -->
        @using (Html.BeginForm("CreatePolicy", "Quote", FormMethod.Post, new { @class = "form-horizontal", @id = "myform" }))
        {
            <form class="form-horizontal">
                <h2>Policy Information</h2>

                <div class="form-group">
                    <label for="AddressLine" class="control-label col-xs-3">Address</label>
                    <div class="col-xs-3">
                        @Html.HiddenFor(m => m.Quote.QuoteId)
                        @Html.HiddenFor(m => m.Quote.ApplicantId)
                        <label for="Address1">Address Line 1</label>
                        @Html.TextBoxFor(m => m.Quote.AddressLine1, null, new { @class = "form-control", data_val_required = "The Address Line 1 field is required." })
                        <div class="text-danger field-validation-error" data-valmsg-for="Quote.AddressLine1"
                             data-valmsg-replace="true">The Address Line 1 field is required.</div>
                    </div>

                    <div class="col-xs-1">
                        <label for="Address2">App./Unit</label>
                        @Html.TextBoxFor(m => m.Quote.AddressLine2, null, new { @class = "form-control" })
                    </div>

                </div>

                <div class="form-group">
                    <label for="Addresscont" class="control-label col-xs-3">Address Continued</label>
                    <div class="col-xs-9">

                        <div class="col-xs-3">
                            <label for="City">City</label>
                            @Html.TextBoxFor(m => m.Quote.City, null, new { @class = "form-control", data_val_required = "The City field is required." })
                            <div class="text-danger field-validation-error" data-valmsg-for="Quote.City"
                                 data-valmsg-replace="true">The City field is required.</div>
                        </div>

                        <div class="col-xs-3">
                            <label for="State">State</label>
                            <select class="form-control" data-val="true"
                                    data-val-required="The State field is required."
                                    id="Quote.State" name="Quote.State"></select>
                            <div class="text-danger field-validation-error" data-valmsg-for="Quote.State"
                                 data-valmsg-replace="true">The State field is required.</div>
                        </div>

                        <div class="col-xs-3">
                            <label for="ZipCode">ZipCode</label>
                            @Html.TextBoxFor(m => m.Quote.ZipCode, null, new { @class = "form-control", data_val_required = "The Zip Code field is required." })
                            <div class="text-danger field-validation-error" data-valmsg-for="Quote.ZipCode"
                                 data-valmsg-replace="true">The Zip Code field is required.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="YearsAddress" class="control-label col-xs-3">Years at Address</label>
                    <div class="col-xs-7">

                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Quote.YearsAtAddress, null, new { @class = "form-control", data_val_required = "Years at current Address required.", type = "number" })
                            <div class="text-danger field-validation-error" data-valmsg-for="Quote.YearsAtAddress"
                                 data-valmsg-replace="true">Years at current Address required.</div>
                        </div>
                       </div>
                    </div>


                <div class="form-group">
                    <label for="NumResidentsinHouehold" class="control-label col-xs-3">Number of household residents</label>
                    <div class="col-xs-7">

                        <div class="col-xs-6">
                           @Html.TextBoxFor(m => m.Quote.NumResidentsinHouehold, null, new { @class = "form-control", data_val_required = "Number of household residents required.", type = "number" })
                            <div class="text-danger field-validation-error" data-valmsg-for="Quote.NumResidentsinHouehold"
                                 data-valmsg-replace="true">Number of household residents required.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="OtherVehiclesInHouseHold" class="control-label col-xs-3">Other Vehicles in Household?</label>
                    <div class="col-xs-7">

                        <div class="col-xs-5">
                            <div class="radio-inline">
                                @Html.RadioButtonFor(m => m.Quote.OtherVehiclesInHouseHold, "true") Yes
                            </div>
                            <div class="radio-inline">
                                @Html.RadioButtonFor(m => m.Quote.OtherVehiclesInHouseHold, "false") No
                            </div>
                            <div class="text-danger field-validation-error" data-valmsg-for="Quote.OtherVehiclesInHouseHold"
                                 data-valmsg-replace="true">required.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="MonthsWithCurrentInsurance" class="control-label col-xs-3">Months w/ Current Insurance</label>
                    <div class="col-xs-7">

                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Quote.MonthsWithCurrentInsurance, null, new { @class = "form-control", data_val_required = "required.", type = "number" })
                            <div class="text-danger field-validation-error" data-valmsg-for="Quote.PriorInsuranceCompany"
                                 data-valmsg-replace="true">required.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="PriorInsuranceCompany" class="control-label col-xs-3">Prior Insurance Company</label>
                    <div class="col-xs-7">

                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Quote.PriorInsuranceCompany, null, new { @class = "form-control", data_val_required = "Prior Insurance Name is required." })
                            <div class="text-danger field-validation-error" data-valmsg-for="Quote.NumResidentsinHouehold"
                                 data-valmsg-replace="true">Number of household residents required.</div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="PriorInsuranceCompanyFlag" class="control-label col-xs-3">PriorInsuranceCompany flag</label>
                    <div class="col-xs-7">

                        <div class="col-xs-5">
                            <div class="radio-inline">
                                @Html.RadioButtonFor(m => m.Quote.PriorInsuranceCompanyFlag, "true") Yes
                            </div>
                            <div class="radio-inline">
                                @Html.RadioButtonFor(m => m.Quote.PriorInsuranceCompanyFlag, "false") No
                            </div>
                            <div class="text-danger field-validation-error" data-valmsg-for="Quote.PriorInsuranceCompanyFlag"
                                 data-valmsg-replace="true">required.</div>
                        </div>
                    </div>
                </div>


                            <center>


                                <div class="row">
                                    <br><button type="button" class="buttonExit" id="submitform" onclick="SaveandExit();">
    <span>Save and Exit</span>

</button>
                                    <button type="button" class="buttonSave" id="submitform" onclick="CreatePolicy();">
                                        <span>Next</span>
                                       
                                    </button>
                                   
                                </div>
                            </center>
            </form>
        }
</div>
</center>
